.navbar{
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    width: 97%;
    }
    .logo img{
        width: 268px;
        height: 33px;
        margin-right:  194px;
        
    }
    .head-menu ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        padding-left: 78%;
    
    }
    .head-menu a
    {
        text-decoration: none;
    }
                     .about-us {
                           margin-right: 7%;
                             
                         }
                         .about-us a{
                         
                           color: #00C3A5;   
                         }
                     .career{
                            margin-right:7%;
                            
                     }    